<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>書城首頁</title>
    <link rel="stylesheet" th:href="@{/static/css/minireset.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/iconfont.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/swiper.min.css}"/>
    <script language="JavaScript" th:src="@{/static/script/index.js}"></script>
  </head>
  <body>
    <div id="app">
      <div class="topbar">
        <div class="w">
          <div class="topbar-left">
            <i>送至:</i>
            <i>北京</i>
            <i class="iconfont icon-ai-arrow-down"></i>
          </div>
          <div class="topbar-right" th:if="${session.currentUser==null}">
            <a href="user/login.html" class="login">登入</a>
            <a href="user/regist.html" class="register">註冊</a>
            <a href="cart/cart.html" class="cart iconfont icon-gouwuche">
              購物車
              <div class="cart-num">3</div>
            </a>
            <a href="manager/book_manager.html" class="admin">後台管理</a>
          </div>

          <div class="topbar-right" th:unless="${session.currentUser==null}">
            <!-- 登录后风格-->
            <span>歡迎你<b th:text="${session.currentUser.getUname()}">張總</b></span>
            <a href="#" class="register">註銷</a>
            <a th:href="@{/page.do(operate='page',page='cart/cart')}" class="cart iconfont icon-gouwuche">
              購物車
              <div class="cart-num" th:text="${session.currentUser.cart.totalCount}">3</div>
            </a>
            <a href="./pages/manager/book_manager.html" class="admin">後台管理</a>
          </div>
        </div>
      </div>
      <div class="header w">
        <a href="#" class="header-logo"></a>
        <div class="header-nav">
          <ul>
            <li><a href="#">java</a></li>
            <li><a href="#">前端</a></li>
            <li><a href="#">小說</a></li>
            <li><a href="#">文學</a></li>
            <li><a href="#">青春文學</a></li>
            <li><a href="#">藝術</a></li>
            <li><a href="#">管理</a></li>
          </ul>
        </div>
        <div class="header-search">
          <input type="text" placeholder="十萬個為什麼" />
          <button class="iconfont icon-search"></button>
        </div>
      </div>
      <div class="banner w clearfix">
        <div class="banner-left">
          <ul>
            <li>
              <a href="">
                <span>文學 鑑賞</span>
                <i class="iconfont icon-jiantou"></i
              ></a>
            </li>
            <li>
              <a href="">
                <span>社科 研究</span>
                <i class="iconfont icon-jiantou"></i
              ></a>
            </li>
            <li>
              <a href="">
                <span>少兒 培訓</span>
                <i class="iconfont icon-jiantou"></i
              ></a>
            </li>
            <li>
              <a href="">
                <span>藝術 賞析</span>
                <i class="iconfont icon-jiantou"></i
              ></a>
            </li>
            <li>
              <a href="">
                <span>生活 周邊</span>
                <i class="iconfont icon-jiantou"></i
              ></a>
            </li>
            <li>
              <a href="">
                <span>文教 科技</span>
                <i class="iconfont icon-jiantou"></i
              ></a>
            </li>
            <li>
              <a href="">
                <span>熱銷 暢讀</span>
                <i class="iconfont icon-jiantou"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="banner-right">
          <div class="swiper-container">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img src="./static/uploads/banner4.jpg" alt="">
                <!-- <div class="banner-img"></div> -->
              </li>
              <li class="swiper-slide">
                <img src="./static/uploads/banner5.jpg" alt="">
                <!-- <div class="banner-img"></div> -->
              </li>
              <li class="swiper-slide">
                <img src="./static/uploads/banner6.jpg" alt="">
                <!-- <div class="banner-img"></div> -->
              </li>
            </ul>
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
      <div class="books-list ">
        <div class="w">
          <div class="list">
            <div class="list-header">
              <div class="title">圖書列表</div>
              <div class="price-search">
                <span>價格:</span>
                <input type="text">
                <span>-元</span>
                <input type="text">
                <span>元</span>
                <button>查詢</button>
              </div>
            </div>
            <div class="list-content">
              <div href="" class="list-item" th:each="book : ${session.bookList}" th:object="${book}">
                <img th:src="@{|/static/uploads/*{bookImg}|}" alt="">
                <p th:text="|書名:*{bookName}|"></p>
                <p th:text="|作者:*{author}|"></p>
                <p th:text="|價格:￥*{price}|"></p>
                <p th:text="|銷量:*{saleCount}|"></p>
                <p th:text="|庫存:*{bookCount}|"></p>
                <button th:onclick="|addCart(*{id})|">加入購物車</button>
              </div>
            </div>
            <div class="list-footer">
                <div>首頁</div>
                <div>上一頁</div>
                <ul><li class="active">1</li><li>2</li><li>3</li></ul>
                <div>下一頁</div>
                <div>末頁</div>
                <span>共10頁</span>
                <span>30條紀錄</span>
                <span>到第</span>
                <input type="text">
                <span>頁</span>
                <button>確定</button>
            </div>
          </div>
        </div>
       
      </div>
      <div class="cate w">
        <div class="list">
          <a href="" class="list-item">
            <i class="iconfont icon-java"></i>
            <span>java</span>
          </a>
          <a href="" class="list-item"
            ><i class="iconfont icon-h5"></i>h5</a
          >
          <a href="" class="list-item">
            <i class="iconfont icon-python"></i>python
          </a>
          <a href="" class="list-item"
            ><i class="iconfont icon-tianchongxing-"></i>pm</a
          >
          <a href="" class="list-item"
            ><i class="iconfont icon-php_elephant"></i>php</a
          >
          <a href="" class="list-item"
            ><i class="iconfont icon-go"></i>go</a
          >
        </div>
        <a href="" class="img">
          <img src="./static/uploads/cate4.jpg" alt="" />
        </a>
        <a href="" class="img">
          <img src="./static/uploads/cate5.jpg" alt="" />
        </a>
        <a href="" class="img">
          <img src="./static/uploads/cate6.jpg" alt="" />
        </a>
      </div>
      <div class="books">
        <div class="w">
          <div class="seckill">
            <div class="seckill-header">
              <div class="title">
                圖書秒殺
              </div>
              <!-- <i class="iconfont icon-huanyipi"></i> -->
            </div>
            <div class="seckill-content">
             
                  <a href="" class="tip"> 
                     <h5>距離結束還有</h5>
                     <i class="iconfont icon-shandian"></i>
                     <div class="downcount">
                      <span class="time">00</span>
                      <span class="token">:</span>
                      <span class="time">00</span>
                      <span class="token">:</span>
                      <span class="time">00</span>
                     </div>
                  </a>
              
              
                  <a href="" class="books-sec">
                    <img src="./static/uploads/congwanqingdaominguo.jpg" alt="">
                    <p>從晚清到民國</p>
                    <div>
                      <span class="cur-price">￥28.9</span>
                      <span class="pre-price">￥36.5</span>
                    </div>
                    <button>立即購買</button>
                  </a>
                  <a href="" class="books-sec">
                    <img src="./static/uploads/cyuyanrumenjingdian.jpg" alt="">
                    <p>c語言入門經典</p>
                    <div>
                      <span class="cur-price">￥55.9</span>
                      <span class="pre-price">￥68.5</span>
                    </div>
                    <button>立即購買</button>
                  </a>
                  <a href="" class="books-sec">
                    <img src="./static/uploads/fusang.jpg" alt="">
                    <p>扶桑</p>
                    <div>
                      <span class="cur-price">￥30.9</span>
                      <span class="pre-price">￥47.5</span>
                    </div>
                    <button>立即購買</button>
                  </a>
                  <a href="" class="books-sec">
                    <img src="./static/uploads/geihaizideshi.jpg" alt="">
                    <p>給孩子的詩</p>
                    <div>
                      <span class="cur-price">￥18.9</span>
                      <span class="pre-price">￥25.5</span>
                    </div>
                    <button>立即購買</button>
                  </a>
             
           
                 
             
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="down">
          Copyright ©2022
        </div>
      </div>
     

    </div>
    <script src="./static/script/swiper.min.js"></script>
    <script>
      var swiper = new Swiper('.swiper-container', {
        autoplay: true,
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      })
    </script>
  </body>
</html>
